<a href="https://colab.research.google.com/github/ProAffy/hello-world/blob/master/IS_733_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [1]:
import numpy as np
import pandas as pd
from google.colab import files
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
# read csv file
# df = pd.read_csv('/content/properties_2017.csv')
df = pd.read_csv('/content/drive/MyDrive/properties_2017.csv')
print(df)
df.head()

<ipython-input-2-1abd739b9841>:3: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/properties_2017.csv')

         parcelid  airconditioningtypeid  architecturalstyletypeid  \
0        10754147                    NaN                       NaN
1        10759547                    NaN                       NaN
2        10843547                    NaN                       NaN
3        10859147                    NaN                       NaN
4        10879947                    NaN                       NaN
...           ...                    ...                       ...
2985212  12170430                    NaN                       NaN
2985213  11422430                    NaN                       NaN
2985214  17203030                    NaN                       NaN
2985215  14242830                    NaN                       NaN
2985216  12766630                    NaN                       NaN

         basementsqft  bathroomcnt  bedroomcnt  buildingclasstypeid  \
0                 NaN          0.0         0.0                  NaN
1                 NaN          0.0         0.0                  NaN
2                 NaN          0.0         0.0                  5.0
3                 NaN          0.0         0.0                  3.0
4                 NaN          0.0         0.0                  4.0
...               ...          ...         ...                  ...
2985212           NaN          NaN         NaN                  NaN
2985213           NaN          NaN         NaN                  NaN
2985214           NaN          NaN         NaN                  NaN
2985215           NaN          NaN         NaN                  NaN
2985216           NaN          NaN         NaN                  NaN

         buildingqualitytypeid  calculatedbathnbr  decktypeid  ...  \
0                          NaN                NaN         NaN  ...
1                          NaN                NaN         NaN  ...
2                          NaN                NaN         NaN  ...
3                          6.0                NaN         NaN  ...
4                          NaN                NaN         NaN  ...
...                        ...                ...         ...  ...
2985212                    NaN                NaN         NaN  ...
2985213                    NaN                NaN         NaN  ...
2985214                    NaN                NaN         NaN  ...
2985215                    NaN                NaN         NaN  ...
2985216                    NaN                NaN         NaN  ...

         numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
0                    NaN            NaN                         NaN
1                    NaN            NaN                         NaN
2                    1.0            NaN                    660680.0
3                    1.0            NaN                    580059.0
4                    1.0            NaN                    196751.0
...                  ...            ...                         ...
2985212              NaN            NaN                         NaN
2985213              NaN            NaN                         NaN
2985214              NaN            NaN                         NaN
2985215              NaN            NaN                         NaN
2985216              NaN            NaN                         NaN

         taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  taxamount  \
0                      9.0          2016.0                    9.0        NaN
1                  27516.0          2015.0                27516.0        NaN
2                1434941.0          2016.0               774261.0   20800.37
3                1174475.0          2016.0               594416.0   14557.57
4                 440101.0          2016.0               243350.0    5725.17
...                    ...             ...                    ...        ...
2985212                NaN             NaN                    NaN        NaN
2985213                NaN             NaN                    NaN        NaN
2985214                NaN             NaN                    NaN        NaN
2985215                NaN             NaN                    NaN        NaN
2985216                NaN             NaN                    NaN        NaN

         taxdelinquencyflag  taxdelinquencyyear  censustractandblock
0                       NaN                 NaN                  NaN
1                       NaN                 NaN                  NaN
2                       NaN                 NaN                  NaN
3                       NaN                 NaN                  NaN
4                       NaN                 NaN                  NaN
...                     ...                 ...                  ...
2985212                 NaN                 NaN                  NaN
2985213                 NaN                 NaN                  NaN
2985214                 NaN                 NaN                  NaN
2985215                 NaN                 NaN                  NaN
2985216                 NaN                 NaN                  NaN

[2985217 rows x 58 columns]

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

# Preprocessing

In [3]:
# Reordered data with sybmoblic data first and real valued after
df = df[['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid', 'buildingclasstypeid', 'buildingqualitytypeid', 
         'decktypeid', 'fips', 'hashottuborspa', 'heatingorsystemtypeid', 'heatingorsystemtypeid', 'pooltypeid2', 
         'pooltypeid7', 'propertycountylandusecode', 'propertylandusetypeid', 'propertyzoningdesc', 'rawcensustractandblock', 
         'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'storytypeid', 'typeconstructiontypeid', 
         'yearbuilt', 'fireplaceflag', 'assessmentyear', 'taxdelinquencyflag', 'taxdelinquencyyear', 'censustractandblock', 
         'basementsqft', 'bathroomcnt', 'bedroomcnt', 'calculatedbathnbr', 'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet', 
         'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 
         'fireplacecnt', 'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'latitude', 'longitude', 'lotsizesquarefeet', 
         'poolcnt', 'poolsizesum', 'roomcnt', 'threequarterbathnbr', 'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 
         'numberofstories', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'landtaxvaluedollarcnt', 'taxamount']]

In [4]:
# Check size of dataset before dropping rows and columns
df.shape

(2985217, 58)

In [5]:
# Calculate the percentage of missing values in each column
missing_percentages = df.isna().sum() / len(df)

# Drop columns with more than 80% missing values
columns_to_drop = missing_percentages[missing_percentages > 0.8].index
df.drop(columns_to_drop, axis=1, inplace=True)

# Check size of dataset after dropping columns
df.shape

(2985217, 35)

In [6]:
# Calculate the percentage of missing values in each row
missing_percentages = df.isna().sum(axis=1) / len(df.columns)

# Drop rows with 50% missing values
rows_to_drop = missing_percentages[missing_percentages > 0.5].index
df.drop(rows_to_drop, axis=0, inplace=True)

# Check size of dataset after dropping rows
df.shape

(2966743, 35)

In [7]:
# Remove all duplicate records
df.drop_duplicates(inplace=True)

# Check size of dataset after dropping rows
df.shape

(2966743, 35)

In [8]:
# drop rows with a bedroom count under 1 in column 'A'
df = df.loc[df['bedroomcnt'] >= 1]

# Check size of dataset after dropping rows
df.shape

(2863565, 35)

In [9]:
# drop rows with bathroom count under 1 in column 'A'
df = df.loc[df['bathroomcnt'] >= 1]

# Check size of dataset after dropping rows
df.shape

(2862451, 35)

In [10]:
# The dataset is too large still so we willbe sampling
# Sample 250000 rows randomly from the dataset
# Requires a lot of RAM, also done with 100000
sample_df = df.sample(n=250000, random_state=42)

In [11]:
# see where the real value data and symbolic data splits
sample_df.columns

Index(['parcelid', 'airconditioningtypeid', 'buildingqualitytypeid', 'fips',
       'heatingorsystemtypeid', 'heatingorsystemtypeid',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'yearbuilt',
       'assessmentyear', 'censustractandblock', 'bathroomcnt', 'bedroomcnt',
       'calculatedbathnbr', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'fullbathcnt', 'garagecarcnt',
       'garagetotalsqft', 'latitude', 'longitude', 'lotsizesquarefeet',
       'roomcnt', 'unitcnt', 'numberofstories', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'landtaxvaluedollarcnt', 'taxamount'],
      dtype='object')

In [12]:
# Separate the symbolic and real-valued features
symbolic_features = sample_df.iloc[:, :17]
real_features = sample_df.iloc[:, 17:]

In [13]:
from sklearn.decomposition import PCA

# Fill in missing values with the mean of the column
real_features.fillna(real_features.mean(), inplace=True)

# Perform PCA on the real-valued features
pca = PCA(n_components=10)
reduced_data = pca.fit_transform(real_features)

In [14]:
# Perform one-hot encoding on the symbolic features
symbolic_features_encoded = pd.get_dummies(symbolic_features)

# Fill in missing values with the mean of the column
symbolic_features_encoded.fillna(symbolic_features_encoded.mean(), inplace=True)

In [15]:
# Concatenate the real-valued features and symbolic features
new_df = pd.concat([symbolic_features_encoded, pd.DataFrame(reduced_data)], axis=1)

# Fill in missing values with the mean of the column
new_df.fillna(new_df.mean(), inplace=True)

# Model Development

In [16]:
# Define input and output variables
X = new_df.iloc[:, :-1].values
y = new_df.iloc[:, -1].values

# Split dataset into training and test sets with a 70/30 split randomly
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [17]:
from sklearn.preprocessing import StandardScaler

# Scale the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Models

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

Linear Regression

In [19]:
# Create a linear regression object
reg = LinearRegression()

# Fit the model
reg.fit(X_train, y_train)

LinearRegression()

In [20]:
# Predict the target variable
y_pred_reg = reg.predict(X_test)

# Evaluate the performance
reg_mse = mean_squared_error(y_test, y_pred_reg)
print('Linear Regression Mean Squared Error: {:.2f}'.format(reg_mse))

reg_rmse = np.sqrt(mean_squared_error(y_test, y_pred_reg))
print('Random Forest Root Mean Squared Error: {:.2f}'.format(reg_rmse))

Linear Regression Mean Squared Error: 79053591648912580051756620563087360.00
Random Forest Root Mean Squared Error: 281164705553368800.00

Regression Tree

In [21]:
# Create Regression Tree object
reg_tree = DecisionTreeRegressor()

# Fit the model

reg_tree.fit(X_train, y_train)

DecisionTreeRegressor()

In [22]:
# Predict the target variable
y_pred_tree = reg_tree.predict(X_test)

# Evaluate the performance
tree_mse = mean_squared_error(y_test, y_pred_tree)
print('Regression Tree Mean Squared Error: {:.2f}'.format(tree_mse))

tree_rmse = np.sqrt(mean_squared_error(y_test, y_pred_tree))
print('Random Forest Root Mean Squared Error: {:.2f}'.format(tree_rmse))

Regression Tree Mean Squared Error: 2424.17
Random Forest Root Mean Squared Error: 49.24

Random Forest

In [ ]:
# Create Random Forest object
rand_forest = RandomForestRegressor(n_estimators=100)

# Fit the model
rand_forest.fit(X_train, y_train)

In [ ]:
# Predict the target variable
y_pred_forest = rand_forest.predict(X_test)

# Evaluate the performance
forest_mse = mean_squared_error(y_test, y_pred_forest)
print('Random Forest Mean Squared Error: {:.2f}'.format(forest_mse))

forest_rmse = np.sqrt(mean_squared_error(y_test, y_pred_forest))
print('Random Forest Root Mean Squared Error: {:.2f}'.format(forest_rmse))